.deck-card-holder {
  position: relative;
  width: 80px;
  display: inline-block;
  z-index: 1000;
}

.deck-card-holder:hover {
  text-decoration: none;
}

.deck-card {
  width: 100%;
}

.champ-slot {
  margin-left: 22%;
  margin-top: -1%;
}

.spirit-slot {
  margin-left: 22%;
  margin-top: -1%;
}

.towers-slot {
  margin-left: 0%;
  margin-top: -1%;
}

.deck-col {
  width: 10%;
  flex-grow: unset;
}

.deck-col-tower {
  width: 33.5%;
  flex-grow: unset;
}

.deck-col-main {
  width: 100%;
  flex-grow: unset;
}

.deck-col-shards {
  width: 100%;
  flex-grow: unset;
}

.deck-col-side {
  width: 100%;
  flex-grow: unset;
}

.alert-secondary {
  margin-top: 15px;
  text-align: center;
}

.tower-container {
  margin-left: 2.5%;
  margin-top: 10px;
  transform: translateX(0px);
  transform: translateY(0px);
}

.main-container {
  margin-left: 1%;
  width: 840px;
  margin-top: 10px;
  transform: translateX(0px);
  transform: translateY(0px);
}

.side-container {
  margin-left: 1%;
  width: 920px;
  margin-top: 10px;
  transform: translateX(0px);
  transform: translateY(0px);
}

.towers-slot {
  margin-top: -0.25%;
}

.deck-builder-modal {
  height: 98%;
}

.card-deck-img-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.deck-delete-btn {
  position: absolute;
  display: flex;
  left: 70%;
  width: 20px;
  height: 20px;
  z-index: 4;
  background-color: rgba(217, 52, 69, 0.6);
  border-radius: 7px;
}

.deck-copy-btn {
  position: absolute;
  display: flex;
  top: 80%;
  width: 20px;
  height: 20px;
  z-index: 4;
  background-color: rgba(37, 156, 174, 0.6);
  border-radius: 7px;
}
