.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  padding-top: 4rem;
  min-height: 100vh;
  padding-top: 0%;
}

.fixed-botright {
  position: fixed;
  left: 94vw;
  top: 1vh;
  z-index: 1000;
}

footer {
  text-align: center;
}

transparent-bg {
  background-color: rgba(245, 245, 245, 0.2) !important;
}

.foot-pad {
  margin-bottom: 30px;
}

.center-wrap {
  text-align: center;
}

.sort-margin {
  margin-top: 10px;
  margin-bottom: -4px;
}

.mt-number {
  margin-top: 1.7%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.card {
  position: relative;
}

.card-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #F7F7F7;
}

.content {
  flex: 1;
}

.h1:hover {
  color: #cccccc !important;
}

.close {
  width: 14px;
}

.mobile-close {
  width: 20px;
  margin-right: 2%;
}

.close:hover {
  cursor: pointer;
}




/* added to the body element when shown; prevent scrolling */
.react-router-modal__modal-open {
  overflow: hidden;
}

/* container that contains all modals and backdrops */
.react-router-modal__container {
  position: fixed;
  z-index: 1000;
}

/* wrapper that contains backdrop and modal */
/* setting this to absolute and setting a z-index creates a new stacking context */
.react-router-modal__wrapper {
  position: absolute;
  z-index: 1;
}

/* backdrop shown behind each modal */
.react-router-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;

  background-color: rgba(0, 0, 0, 0.5);
}

/* modal element for the modal component */
.react-router-modal__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 55%;
  max-width: 960px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  border: 1px solid #777;
  overflow-y: scroll;
}

/* mobile devices, particularly iOS, have some quirks to work around */
@media only screen and (max-device-width: 1024px) {
  .react-router-modal__modal-open {
    position: absolute;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .react-router-modal__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 94vh;
    transform: translate3d(0, 0, 0);
  }
  .react-router-modal__modal {
    max-height: 84vh;
    overflow-y: scroll;
  }
  .fixed-botright {
    position: fixed;
    left: 88vw;
    top: 2vh;
    z-index: 1000;
  }

}

h2 {
  font-size: 1rem;
  padding-left: 2%;
  padding-top: 1%;
  white-space: nowrap;
  display: inline-block;
}

h4 {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding-left: 5%;
}

@media (max-width: 575px) {
  .img-fluid {
    max-width: 70% !important;
    margin-left: 15%;
  }
  .list-group-item {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
  }
  .card-header {
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
  }
  .rft {
    margin-bottom: 6px;
    margin-top: -6px;
  }
  .btn-row {
    margin-top: 6px;
  }
  .cost-button {
    padding-left: 11px;
    padding-right: 11px;
  }
  .desktop-padding-2 {
    margin-top: 2px !important;
  }
}

@media (min-width: 1px) {
  .faint-text {
    font-size: 0.7rem;
  }
  .resp-text {
    font-size: 0.7rem;
  }
  .react-router-modal__modal {
    width: 80%;
  }

  h4 {
    font-size: 0.6rem;
  }
  h2 {
    font-size: 0.8rem;
  }

  .rft {
    font-size: 0.8rem;
  }
  .search-text-padded {
    padding-top: 6px;
  }
}

@media (min-width: 576px) {
  h4 {
    font-size: 0.65rem;
  }
  h2 {
    font-size: 1.2rem;
  }

  .react-router-modal__modal {
    width: 80%;
  }
  .faint-text {
    font-size: 0.7rem;
  }
  .resp-text {
    font-size: 0.7rem;
  }
  .cardImgRounded {
    width: 95% !important;
  }

  .rft {
    font-size: 0.9rem;
  }
  .search-text-padded {
    padding-top: 0px !important;
  }
}

@media (min-width: 768px) {
  h4 {
    font-size: 0.9rem;
    white-space: nowrap;
    margin-top: 0.5vh;
  }
  h2 {
    font-size: 1.5rem;
  }
  .react-router-modal__modal {
    width: 80%;
  }
  .faint-text {
    font-size: 0.8rem;
  }
  .resp-text {
    font-size: 0.8rem;
  }
  .cardImgRounded {
    width: 80% !important;
  }
  .rft {
    font-size: 1rem;
  }
  .search-text-padded {
    padding-top: 5.5% !important;
  }
  
}

@media (min-width: 992px) {
  h4 {
    font-size: 1rem;
    margin-top: 0.5vh;
  }
  h2 {
    font-size: 2rem;
  }
  .react-router-modal__modal {
    width: 70%;
  }
  .faint-text {
    font-size: 1rem;
  }
  .cardImgRounded {
    width: 80% !important;
  }
  .resp-text {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.25rem;
    margin-top: 0.5vh;
  }
  h2 {
    font-size: 2.1rem;
  }
  .react-router-modal__modal {
    width: 55%;
  }
  .cardImgRounded {
    width: 80% !important;
  }
}

.cardImgRounded {
  border-radius: 12px;
  z-index: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.tabbed-text {
  padding-left: 1.5em;
}

.less-padding {
  padding: -40%;
}

.faint-text {
  color: #afafaf;
  font-style: italic;
  white-space: nowrap;
}

.resp-text {
  white-space: normal;
}

.effects-class {
  display: block;
  line-height: 1.25;
  white-space: pre-line;
  padding-bottom: 10px;
  padding-top: 3px;
}

.button-padded {
  background-color: #c9c9c9 !important;
}

.button-padded-2 {
  width: 50px;
}

.no-top-border {
  border-top: 0px !important;
}

.padded-card {
  margin-bottom: 1.5%;
}

.pd-cool {
  margin-top: 1%;
}

.btn-right-margin {
  margin-right: 2%;
}

.btn-light {
  background-color: #e5e5e5 !important;
}



.btn-group-wrap {
  display: inline;
}

.mobile-padding {
  padding-top: 0.3rem;
  padding-bottom: 0.1rem;
}

.mobile-padding-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
}

.mobile-padding-3 {
  padding-left: 0.2rem;
  padding-right: 0.1rem;
  vertical-align: top;
}

.mobile-padding-4 {
  padding-top: 0.45rem;
  vertical-align: top;
}

.item-inline {
  display: inline;
}

.item-inline-block {
  display: inline-block;
}

.pickybox {
  display: inline-block ;
  width: 50% !important;
  vertical-align: middle;
}

.desktop-padding-1 {
  padding-top: 0.2%;
  vertical-align: top;
}

.desktop-padding-2 {
  margin-top: 8px;
}

.centre-input {
  text-align: center;
}

.width-1 {
  width: 100%;
  padding: 0.3rem;
}
.width-2 {
  width: 50%;
  padding: 0.3rem;
}
.width-3 {
  width: 33.3%;
  padding: 0.3rem;
}
.width-4 {
  width: 25%;
  padding: 0.3rem;
}
.width-5 {
  width: 20%;
  padding: 0.3rem;
}
.width-6 {
  width: 16.6%;
  padding: 0.3rem;
}
.width-7 {
  width: 14.2%;
  padding: 0.3rem;
}
.width-8 {
  width: 12.5%;
  padding: 0.3rem;
}
.width-9 {
  width: 11.1%;
  padding: 0.3rem;
}
.width-10 {
  width: 10%;
  padding: 0.3rem;
}

.scroll-top:hover {
  transform: scale(1.1, 1.1);
  color: #515151;
  cursor: pointer;
}

.badge-container {
  position: absolute;
  height: 100%;
}

.spoiler-badge {
  position: relative;
  bottom: -91%;
}